/* ===== Google Font Import - Poformsins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100vw;
    height: fit-content;
}

.login-signup {
    background-color: #4070f4;
    
}

.main-bg {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    background-attachment: fixed;
}

.cust-card {
    border-radius: 25px;
    padding: 2rem 3.5rem;
    background: rgba(255,255,255,0.75);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255,255,255,0.375);
}

.form-card {
    width: 35%;
}

